<h1>you're on index bro</h1>
<p><%= params %></p>

<form id="talk-to-grandma" action="/grandma" method="post">
  Say something to Grandma:
  <br>
  <input type="text" name="user_input">
  <input type="submit" value="Say it!">
</form>
